.card {
  padding-top: 6rem;

}

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
  }
  
  #gallery {
    background-color: #e2edff;
  }
  
  section {
    padding-top: 5rem;
  }
  
  #elemen {
      text-shadow: 2px 2px 2px #ccc;
      font-size: 1.5rem;
  }

  #daftar {
    font-size: 1.5rem;
}